:root {
    --background: #eae3ee;
    --background-dark: ;
    --primary-dark: #3d3a41;
    --primary: #EFEDF4;
    --secondary: #d397fe;
    --red-light: #f56965;
}

* {
    margin: 0;
    padding: 0;
}

main {
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-shadow: 5px black;
}

.imgMoon {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    padding: .2em .8em;
    cursor: pointer;
}

article {
    background: linear-gradient(to right, white, var(--primary));
    border: white solid .2em;
    width: 60%;
    height: 90%;
    border-radius: 2em;
    gap: 1em;
    display: flex;
}

article section {
    width: 50%;
}

article section:first-child {
    height: 100%;
    padding: .4em;
}

article section:first-child figure{
    height: calc(100% - .8em);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary);
    border-radius: 1.5em;
}

article section figure img {
    width: 80%;
}

article section:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

section:last-child div:first-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}


article section:last-child div:nth-child(2) {
    width: 70%;
}

article section:last-child div:nth-child(2) span {
    align-self: end;
}

article section:last-child form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .8em;
    align-items: center;
}

form span {
    line-height: 3em;
}

form input {
    border: none;
    padding: 1em;
    border-radius: .8em;
    width: 100%;
}

form a {
    width: 100%;
    padding: 1em;
    color: white;
    background: var(--red-light);
    border: none;
    border-radius: .8em;
    text-decoration: none;
    text-align: center;
}

section div:nth-child(3) {
    width: 80%;
}

section div:nth-child(3) span{
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
}

section div:nth-child(3) span:before{
    content: '';
    position: absolute;
    width: 30%;
    height: 1.5px;
    border-radius: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: linear-gradient(to left, var(--red-light), var(--primary));
}

section div:nth-child(3) span:after {
    content: '';
    position: absolute;
    width: 30%;
    height: 1.5px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: linear-gradient(to right, var(--red-light), var(--primary));
}

section:last-child div:last-child {
    display: flex;
    gap: 2em;
}

section:last-child div:last-child img{
    width: 30px;
}

.darkMode main{
    background: #444e;
}

.darkMode article {
    background: linear-gradient(to right, black, var(--primary-dark));
    border: black solid .2em;
    color: white;
}

.darkMode article section form input {
    background: #444;
    color: white;
}

.darkMode article section form input::placeholder {
    color: white;
}

.darkMode article section form input:focus {
    outline: white solid .1em;
}
